<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
</head>

<body>
    <div class="container">
        <header>
            <% include ./partials/header.ejs %>
        </header>
        <h1>Movie Watch List</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Discover Movies</h3>
                <p>Have a hard time keeping track of the movies you want to watch? You remember hearing about a movie, but can't remember the name of it? We';re here to help with that.</p>
            </div>
            <div class="col-md-6">
                <h3>Add Them to Your Vault</h3>
                <p>Find a move and just add the movie you want to your list and keep with you wherever you go. </p>
                <p>Try it out by using the demo account listed below:</p>
                <p><b>Username:</b> test</p>
                <p><b>Password:</b>movies</p>
            </div>
        </div>
        <section>
            <h3>Now Playing</h3>
            <div class="row" id="nowPlaying">

            </div>
        </section>
    </div>
    <!-- end container -->

    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>