<div class="container">
<h1>Search</h1>
<form method="post" action="/users/register">
  <div class="form-group">
    
  <div class="form-group">
    
    <input type="text" class="form-control" placeholder="Search for a movie..." name="movieSearch" id="movieSearch">
  </div>
  <button type="submit" id="search" class="btn btn-default">Search</button>
</form>

<section id="movieResults">


</section>

</div>